
.content{
    position: relative;
    width: 90%;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cardimg{
    position: relative;
    top: 20px;
    width: 90%;
    height: 100%;
    left: 10%;
  
}
.cardheader{
position: absolute;
left: 20%;
top: 35%;
font-family: 'Citrica';
}
.cardheader h3{
font-family: 'Inter';
font-style: bold;
font-weight: 400;
font-size: 42px;
line-height: 29px;

color: #FFFFFF;

}
.cardheader h4{
font-family: 'Inter';
font-style: bold;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #FFFFFF;
    
}
.cardbody{
    position: absolute;
    left: 20%;
    top: 50%;
    width: 60%;
    padding: 2%;
    background-blend-mode: exclusion;
    background-color: #ffffff6e;
}

.cardbody p{
    font-family: 'Inter';
    font-style: bold;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    mix-blend-mode: color-dodge;
    color: rgb(255, 255, 255);
}
    
.cardbody h3{
    font-family: 'Inter';
    font-style: bold;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    
    color: #FFFFFF;
    
}
.cardbody h4{
    font-family: 'Inter';
    font-style: bold;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
        
    color: #FFFFFF;
        
}

.cardbutton{
    display: flex;
    position: absolute;
    left: 80%;
    top: 80%;
    width: 80%;
    padding: 2%;
}
